<div class="container">
  <form [formGroup]="lookupForm" (ngSubmit)="onSubmit()" class="w3-card w3-border w3-round-xlarge w3-padding w3-container">
      <h2>Voer afwesige onderwysers in</h2>
      <hr />
      <div class="w3-padding">
        <label for="teacherCode">Onderwyser Kode:</label>
        <input class="w3-right" style="width:15%" id="teacherCode" formControlName="teacherCode" type="text" placeholder="---" />
      </div>
      <!-- <div class="w3-padding">
        <label for="day">Dag:</label> -->
        <input class="w3-right" style="width:15%" id="day" formControlName="day" type="number" min="1" max="8" value="1" hidden />
      <!-- </div> -->
      <div class="w3-padding">
        <input class="w3-black w3-round-large w3-button w3-right" style="width: 30%;" type="submit">
      </div>
      <br />
  </form>

  <br />

  <div class="w3-card w3-border w3-round-xlarge w3-padding w3-container">
    <h1>Onderwysers Afwesig:</h1>
    <hr />
    <table *ngIf="absentTeachers" class="w3-table-all">
      <tr>
        <!-- <th>Day</th> -->
        <th>Onderwyser Kode</th>
      </tr>
      <tr *ngFor="let teacher of absentTeachers">
        <!-- <td>{{ teacher['Day'] }}</td> -->
        <td>
          {{ teacher['TeacherCode'] }}
          <button (click)="removeAbsence(teacher['TeacherCode'], teacher['Day'])" class="w3-button w3-round w3-right">
            X
          </button>
        </td>
      </tr>
    </table>
    
  </div>
</div>

<br />
<!-- <table *ngIf="teacherlessLearners" class="w3-table-all">
  <tr>
    <th>Class</th>
    <th>Grade</th>
    <th>Learner</th>
    <th>Period</th>
    <th>Subject</th>
    <th>TeacherCode</th>
    <th>TimeTablePeriod</th>
  </tr>
  <tr *ngFor="let learners of teacherlessLearners">
    <td>{{ learners['Class'] }}</td>
    <td>{{ learners['Grade'] }}</td>
    <td>{{ learners['Learner'] }}</td>
    <td>{{ learners['Period'] }}</td>
    <td>{{ learners['Subject'] }}</td>
    <td>{{ learners['TeacherCode'] }}</td>
    <td>{{ learners['TimeTablePeriod'] }}</td>
  </tr>
</table> -->
