<div class="w3-row">
  <form [formGroup]="lookupForm" (ngSubmit)="onSubmit()" class="w3-col w3-border w3-round-xlarge w3-padding w3-container" style="width: 50%;">
      <h2>Sien leerders wat moet voog</h2>
      <hr />
      <div class="w3-padding">
        <label for="teacherCode">Onderwyser Kode:</label>
        <input class="w3-right" style="width:15%" id="teacherCode" formControlName="teacherCode" type="text" placeholder="WET" />
      </div>
      <div class="w3-padding">
        <label for="day">Dag:</label>
        <input class="w3-right" style="width:15%" id="day" formControlName="day" type="number" min="1" max="8" placeholder="1" />
      </div>
      <div class="w3-padding">
        <input class="w3-black w3-round-large w3-button w3-right" style="width: 30%;" type="submit">
      </div>
      <br />
  </form>

  <div class="w3-col w3-border w3-round-xlarge w3-padding w3-container" style="width: 45%;">
    <h1>Onderwysers Afwesig:</h1>
    <hr />
    <table *ngIf="absentTeachers" class="w3-table-all">
      <tr>
        <th>Teacher Code</th>
      </tr>
      <tr *ngFor="let teacher of absentTeachers">
        <td>
          {{ teacher['TeacherCode'] }}
          <button (click)="removeAbsence(teacher['TeacherCode'], teacher['Day'])" class="w3-button w3-round w3-right">
            X
          </button>
        </td>
      </tr>
    </table>
    
  </div>
</div>

<br />
<table *ngIf="teacherlessLearners" class="w3-table-all">
  <tr>
    <th>Class</th>
    <th>Grade</th>
    <th>Learner</th>
    <th>Period</th>
    <th>Subject</th>
    <th>TeacherCode</th>
    <th>TimeTablePeriod</th>
  </tr>
  <tr *ngFor="let learners of teacherlessLearners">
    <td>{{ learners['Class'] }}</td>
    <td>{{ learners['Grade'] }}</td>
    <td>{{ learners['Learner'] }}</td>
    <td>{{ learners['Period'] }}</td>
    <td>{{ learners['Subject'] }}</td>
    <td>{{ learners['TeacherCode'] }}</td>
    <td>{{ learners['TimeTablePeriod'] }}</td>
  </tr>
</table>
