<form [formGroup]="lookupForm" (ngSubmit)="onSubmit()" class="w3-border w3-round-xlarge w3-padding w3-container" style="width: 50%;">
    <h2>Sien leerders wat by my moet voog</h2>
    <hr />
    <div class="w3-padding">
      <label for="teacherCode">Onderwyser Kode:</label>
      <input class="w3-right" style="width:15%" id="teacherCode" formControlName="teacherCode" type="text" placeholder="WET" />
    </div>
    <div class="w3-padding">
      <label for="day">Dag:</label>
      <input class="w3-right" style="width:15%" id="day" formControlName="day" type="number" min="1" max="8" placeholder="1" />
    </div>
    <div class="w3-padding">
      <input class="w3-black w3-round-large w3-button w3-right" style="width: 30%;" type="submit">
    </div>
    <br />
</form>
<br />
<div>
    <div *ngIf="voogLearners" class="w3-container w3-card w3-round-large w3-padding">
        <h2>Vooglys</h2>
        <hr />
        <table class="w3-table-all">
            <tr>
                <th>Period</th>
                <th>Absent Teacher Code</th>
                <th>Name</th>
                <th>Class</th>
                <th>Subject</th>              
            </tr>
            <tr *ngFor="let learners of voogLearners">
                <td>{{ learners['Period'] }}</td>
                <td>{{ learners['AbsentTeacherCode'] }}</td>
                <td>{{ learners['LearnerName'] }}</td>
                <td>{{ learners['LearnerClass'] }}</td>
                <td>{{ learners['TimeTablePeriod'] }}</td>
            </tr>
        </table>
    </div>    
</div>
