<h2 style="width: 50%; margin: 0 auto;">Sien leerders wat by my moet voog</h2>
<hr />
<br />
<div>
    <div class="w3-container w3-card w3-round-large w3-padding">
        <h2>Vooglys</h2>
        <hr />
        <table class="w3-table-all">
            <tr>
                <th>Periode</th>
                <th>Afwesige Onderwyser Kode</th>
                <th>Naam</th>
                <th>Klas</th>
                <th>Vak</th>                       
            </tr>
            <tr *ngFor="let learners of voogLearners">
                <td>{{ learners['Period'] }}</td>
                <td>{{ learners['AbsentTeacherCode'] }}</td>
                <td>{{ learners['LearnerName'] }}</td>
                <td>{{ learners['LearnerClass'] }}</td>
                <td>{{ learners['TimeTablePeriod'] }}</td>
            </tr>
            <tr *ngIf="!voogLearners">
                <td colspan="5" style="text-align: center;">
                    <div>
                        <i class="loading-circle" style="font-size: 24px;"></i>
                    </div>
                </td>
            </tr>
            <tr *ngIf="voogLearners.length === 0">
                <td colspan="5" style="text-align: center;">
                    <div>
                        <p>Geen leerders om te voog nie.</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>    
    <br />
    <div class="w3-container w3-card w3-round-large w3-padding">
        <h2>Moontlike Buddy Leerders</h2>
        <hr />
        <table class="w3-table-all">
            <tr>
                <th>Periode</th>
                <th>Afwesige Onderwyser Kode</th>
                <th>Naam</th>
                <th>Klas</th>
                <th>Vak</th>              
            </tr>
            <tr *ngFor="let learners of buddyLearners">
                <td>{{ learners['Period'] }}</td>
                <td>{{ learners['AbsentTeacherCode'] }}</td>
                <td>{{ learners['LearnerName'] }}</td>
                <td>{{ learners['LearnerClass'] }}</td>
                <td>{{ learners['TimeTablePeriod'] }}</td>
            </tr>
            <tr *ngIf="!buddyLearners">
                <td colspan="5" style="text-align: center;">
                    <div>
                        <i class="loading-circle" style="font-size: 24px;"></i>
                    </div>
                </td>
            </tr>
            <tr *ngIf="buddyLearners.length === 0">
                <td colspan="5" style="text-align: center;">
                    <div>
                        <p>Geen leerders om te buddy nie.</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>    
</div>
